[Desktop Entry]
Encoding=UTF-8
Name=CDI
Comment=CDI P2P Cryptocurrency
Comment[fr]=CDI, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CDI, eşten eşe kriptografik sanal para birimi
Exec=cdi-qt %u
Terminal=false
Type=Application
Icon=cdi128
MimeType=x-scheme-handler/cdi;
Categories=Office;Finance;
